# Exercício 5

* Carregue o banco de dados CardioGoodFitness anexo nesta aula;

* Imprima o número de linhas e colunas do dataset;

* Imprima as 3 primeiras linhas do DataFrame;

* Imprima as 2 últimas linhas do DataFrame;

* Imprima o tipo de dado de cada coluna;

* Converta a coluna Income para float;

* Imprima os valores únicos da coluna Product;

* Imprima os valores únicos da coluna MaritalStatus;

* Imprima a proporção de homens e mulheres.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/CardioGoodFitness.csv')

In [3]:
df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

Como é possível observar acima, neste caso não será necessário utilizar o argumento "sep = ' ; ' " dentro da função pd.read_csv( ) pois o dataset já está com suas colunas e linhas devidamente separadas.

In [4]:
# imprimindo a quantidade de linhas e colunas do dataset

df.shape

(180, 9)

In [5]:
# imprimindo as 3 primeiras linhas do DataFrame

df.head(3)

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66

In [6]:
# imprimindo as duas últimas linhas do DataFrame

df.tail(2)

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
178,TM798,47,Male,18,Partnered,4,5,104581,120
179,TM798,48,Male,18,Partnered,4,5,95508,180

In [7]:
# imprimindo o tipo de dado de cada coluna

df.dtypes

Product          object
Age               int64
Gender           object
Education         int64
MaritalStatus    object
Usage             int64
Fitness           int64
Income            int64
Miles             int64
dtype: object

In [10]:
# convertendo os dados da coluna 'Income' para float

df['Income'] = df['Income'].astype('float')

In [11]:
df.dtypes

Product           object
Age                int64
Gender            object
Education          int64
MaritalStatus     object
Usage              int64
Fitness            int64
Income           float64
Miles              int64
dtype: object

In [12]:
# imprimindo os valores únicos da coluna 'Product'

df['Product'].unique()

array(['TM195', 'TM498', 'TM798'], dtype=object)

In [13]:
# imprimindo os valores únicos da coluna 'MaritalStatus'

df['MaritalStatus'].unique()

array(['Single', 'Partnered'], dtype=object)

In [14]:
# imprimindo a proporção de homens e mulheres

df['Gender'].value_counts()

Male      104
Female     76
Name: Gender, dtype: int64

# Exercício 6

Após as operaões realizadas no exercício 5, converta o banco de dados para o formato Json.

In [15]:
df.to_json('CardioGoodFitness.json')